*{
    margin: 0;
    padding: 0;
    box-sizing:   border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #e0e7ff;   /*nền màu*/
    height: 100vh;                 /*chiều cao bằng 100% màn hình*/ 
    display: flex;                  /*Bật chế độ flex*/
    justify-content: center;        /*Căn giữa ngang*/
    align-items: center;            /*Căn giữa dọc*/
}
.card {
    background-color: white;
    padding: 40px;                  /* khoảng đêm bên trong */
    border-radius: 15px;            /* bo tròn góc*/
    box-shadow: 0 10px 15px rgba(0,0,0,1); /*đổ bóng mờ*/
    text-align: center;
    width: 320px
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #4f46e5;
}
.job-title {
    color: brown;
    margin-bottom: 20px;
    font-size: 14px;
}
.skills {
    list-style: none;
    margin-bottom: 25px;
}
.skills li {
    display: inline-block; /*các kĩ năng nằm ngang nhau nếu ngắn */
    background-color:#f3f4f6 ;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 3px;
    font-size: 12px;
    font-weight: bold;
    color: #4b5563;
}

.btn {
    text-decoration: none; /* bỏ gạch chân */
    background-color: #454468;
    color: white;
    padding: 10px
}
.btn:hover {
    background-color: rgb(255, 104, 16);
}